In [12]:
def remove_from_string(string, letters):
    """Given an original string and a string of letters, returns a new string
    which is the same as the old one except all occurrences of those letters
    have been removed from it."""
    
    for i in letters:
        string = string.replace(i,"")
    return string
    raise NotImplementedError

In [13]:
remove_from_string('ahmadsq','sq')

'ahmad'

In [22]:
st = 'ahmad'
st1 = []
st1[:] = st
st1

['a', 'h', 'm', 'a', 'd']

In [31]:
def compute_string_properties(string):
    """Given a string of lowercase letters, returns a tuple containing the
    following three elements:
        0. The length of the string
        1. A list of all the characters in the string (including duplicates, if
           any), sorted in REVERSE alphabetical order
        2. The number of distinct characters in the string (hint: use a set)
    """
    
    st1[:] = string
    st1.sort(reverse=True)
    t = (len(string),st1, len(set(string)))
    return t
  
    raise NotImplementedError

In [32]:
compute_string_properties('ahmad')

(5, ['m', 'h', 'd', 'a', 'a'], 4)

In [36]:
def tally_letters(string):
    """Given a string of lowercase letters, returns a dictionary mapping each
    letter to the number of times it occurs in the string."""
    tally = {}
    for i in string:
        if i in tally:
            tally[i] += 1
        else:
            tally[i] = 1
    return tally
    raise NotImplementedError

In [37]:
tally_letters("hello")

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [38]:
def tally_letters(string):
    """Given a string of lowercase letters, returns a dictionary mapping each
    letter to the number of times it occurs in the string."""
    tally = {}
    for i in string:
        if i in tally:
            tally[i] += 1
        else:
            tally[i] = 1
    return tally
    raise NotImplementedError

In [40]:
tally_letters("ahmad")

{'a': 2, 'h': 1, 'm': 1, 'd': 1}